<%- include("partials/header"); -%>
<h1>Contact</h1>
<pre>If you have any questions or would like to get in touch with me, feel free to contact me using the following information:
Name: Aravind
Occupation: MERN stack developer, Freelancer
Location: Chennai, India
Phone: +91 9344573339
Email: aravind.tech18@gmail.com
I am always happy to hear from fellow developers and anyone interested in web development.
Whether you have a project in mind or just want to say hello, don't hesitate to reach out!</pre>
<%- include("partials/footer"); -%>
